.WebContainer{
  width: 100%;
  height: auto;
}
.articles{
  width:90%; /*Takes 90% width from WebContainer*/
  height: auto;
  margin: auto;
} 
.review .box-container{
  display: flex;
  align-items:flex-start;
  flex-wrap : wrap;
  gap : 1.5rem;
  

}

.review .box-container .box{
  text-align: center;
  padding:2rem;
  border:5px solid black;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
  border-radius: .5rem;
  flex: 1 1 25%;
  background: #FF8000;
  margin-top: 6rem;
}

.review .box-container .box img{
  height: 8rem;
  width:8rem;
  border-radius: 50%;
  border:5px solid black;
  margin-top: -8rem;
  object-fit: cover;
}

.review .heading {
  font-size:1.5rem;
  margin-left:520px;
}

.review .box-container .box h3{
  font-size: 1.5rem;
  color:black;
  padding:.5rem 0;
}

.review .box-container .box .stars i{
  font-size: 1.5rem;
  color:black;
  padding:.5rem 0;
}

.review .box-container .box p{
  font-family:Avanta Garde;
  font-size: 3vh;
  color:black;
  padding:1rem 0;
}
.order .row{
  
  padding:2rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  background:#fff;
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  border-radius: .5rem;
}

.order .row .image{
  flex:1 1 100px;
}

.order .heading{
  margin-top: 40px;
  margin-left:560px;
}

.order h1 {
  font-size:1rem;
}

.order .row .image img{
  height: 60vh;
  width:60vh;
  object-fit: cover;
  border-radius: .5rem;
}

.order .row form{
  flex:1 1 30rem;
  padding:1rem;
}

.order .row form .inputBox{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;


}

.order .row form .inputBox input, .order .row form textarea{
  padding:1rem;
  margin:1rem 0;
  font-size: 1rem;
  color:#333;
  text-transform: none;
  border:.1rem solid black;
  border-radius: .5rem;
  width:49%;
}

.order .row form textarea{
  height:35px;
  width:700px;
  resize: none;
}

.order .row form .btn{
  margin-left:15rem;
  background:#FF8000;
  border-radius:40px;
  font-weight:700;
  font-size:1.25rem;
  color:white;
  border-color:white;
}

.order .row form .btn:hover{
  background:#bd6208;
}

#scroll-top{
  position: fixed;
  top:-120%;
  right:2rem;
  padding:.5rem 1.5rem;
  font-size: 2rem;
  background:#FF8000;
  color:black;
  border:3px solid black;
  border-radius: .5rem;
  z-index: 5000;
}

#scroll-top.active{
  top:calc(100% - 8rem);
}